/* style.css - OSC/parcours 2 */

@font-face 
{
    font-family: 'droid_sansregular';
    src: url('DroidSans-webfont.eot');
    src: url('DroidSans-webfont.eot?#iefix') format('embedded-opentype'),
         url('DroidSans-webfont.woff') format('woff'),
         url('DroidSans-webfont.ttf') format('truetype'),
         url('DroidSans-webfont.svg#droid_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

h1, h2, h3, h4, h5, h6
{
    font-family: 'droid_sansregular', 'Arial', sans-serif;
}

h2 span
{
display: inline-block;
border-bottom: 3px solid #feca07;
}

.photo 
{
        width: 210px;
        margin:auto;
        padding: 8% 0 6% 0;
}

.bandeau-noir
{
    background-color: #404040;
    color:#feca07;
}

.mycolor
{
    color: #181818 !important;
}

.far,.fas,.prenom
{
color: #feca07;
}

.fa-camera,.fa-video,.fa-theater-masks, .nom
{
color: #404040;
}

.lignejaune
{
margin-bottom:20px;
border-bottom: 3px solid #feca07;
}




