/* style.css - OSC/parcours 2 27/3/20 */

@font-face 
{
    font-family: 'droid_sansregular';
    src: url('DroidSans-webfont.eot');
    src: url('DroidSans-webfont.eot?#iefix') format('embedded-opentype'),
         url('DroidSans-webfont.woff') format('woff'),
         url('DroidSans-webfont.ttf') format('truetype'),
         url('DroidSans-webfont.svg#droid_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

h1, h2, h3, h4, h5, h6
{
    font-family: 'droid_sansregular', 'Arial', sans-serif;
}

.col-lg-4,.col-lg-8
{
    padding: 0px;

}

#avatar
{
    width:236px;
    height:280px;
    margin: auto;
    padding-top:20px;
}

.bandeau-noir
{
    background-color: #404040;
    color:#feca07;
    vertical-align: middle;
    text-align: center;
    padding-top: 12px;
    height:60px;
}

.bloc-infos
{
 margin:20px;  
}

.mycolor
{
    color: #181818 !important;
}

.bloc-gauche
{
    margin:20px;
    vertical-align: middle;
    text-align: justify;
}
.far,.fas,.PRENOM
{
    color: #feca07;
    margin:0px 20px 0px 20px;
}

.PRENOM
{
    padding-left: 40px;
}

.fa-camera,.fa-video,.fa-theater-masks, .nom
{
    color: #404040;
    text-align: center;
    padding:24px;
}

.lignejaune
{
    margin-bottom:20px;
    margin: 20px;
    border-bottom: 4px solid #feca07;
}

.col-lg-6
{
    padding-left: 60px;
}



